# Docker
.dockerignore

# Local environment variables (Sensitive)
!.env.example
old.env

# Docker volumes and bind mounts
#/data/
volumes/
#/tmp/

# IDE/Editor files (common in containerized projects)
.vscode/
.idea/
*.swp

# Docker Build artifacts
bin
build_src
*.test

# backup
backup/


