# Main Web Service (Setup Wizard)
:443 {
    # Points to the directory where we copied the files in the Dockerfile
    root * /usr/share/caddy
    
    # Enables serving the index.html and the Setup_wizard folder
    file_server
    
    # Use your existing SSL certificates
    tls /etc/caddy/ssl/server-cert.pem /etc/caddy/ssl/server-key.pem
}

# Port 14105 for phpMyAdmin
:14105 {
    reverse_proxy phpmyadmin_final:80
    tls /etc/caddy/ssl/server-cert.pem /etc/caddy/ssl/server-key.pem
}

# Port 14106 for Node-RED
:14106 {
    reverse_proxy nodered_final:1880
    tls /etc/caddy/ssl/server-cert.pem /etc/caddy/ssl/server-key.pem
}
